#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/F_PindelRP/dat"
mkdir -p $OUTD
#ln -sf $OUTD

echo Output Directory \(\$OUTD\): $OUTD

STEPS=" 1_make_config.sh 2_run_Pindel.sh 3_process_Pindel_RP.sh "
