#!/usr/bin/env bash

# this is a template file for bps.config
# paths below specify data and program (core) paths.
# and edit bps.config as appropriate

# Define BPS component paths
BPS_CORE="../bps-core"   # using the submodule
BPS_DATA=".."  # This places data in directory ./dat relative to stage directory
# Define Data layer path.  

# BPS_DATA points to data directory.  Defining `BPS_DATA=".."` (the default)
# will write the data from a given stage (e.g., A_Project) into a data directory 
# in that stage.  Alternatively, can define BPS_DATA to point to a separate directory 
# tree, which allows the Workflow and Data layers to be independently located.

BPS_DATA=".."  # ./dat relative to stage directory, default for Lite
#
#BPS_DATA="/path/to/Data"

# In the assembled plot, chrom positions A and B correspond to x, y coordinates, respectively.
# By default, chrom A < chrom B (by string comparison), as in BPC/BPR files.
# This order can be switched by setting FLIPAB=1 (by default, FLIPAB=0)
# Note that this option will need to be defined consistently in any steps which process BPC/BPR files
FLIPAB=0

# path to list of WGS samples
SAMPLE_LIST="$BPS_DATA/C_Project/dat/BPS.samples.dat"
PLOT_LIST="$BPS_DATA/J_PlotList/dat/PlotList.dat"

# BWA
BWA="$HOME/pkg/bwa-0.7.15/bwa"

if [ -f ../bps.config.local ]; then
    source ../bps.config.local
fi
