#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

# In this and other directories that generate multiple GGP files the
# output directories look like,
#   $OUTD/GGP.LAYER1
#   $OUTD/GGP.LAYER2
# and the link $OUTD/GGP points to the most recently modified GGP directory.  This allows uniform
# access to the final GGP files.

source ../bps.config

OUTD="$BPS_DATA/U_PlotExpression/plots"
mkdir -p $OUTD
#ln -sf $OUTD

STEPS="1_plot_RPKM_Pval_bubble.sh 2_plot_RSEM_Pval_bubble.sh 3_make_png.sh "
