#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/M_RSEM_Expression/dat"
mkdir -p $OUTD

echo Output Directory \(\$OUTD\): $OUTD
STEPS=" 1_get_data.sh 2_make_BED.sh 3_parse_RSEM.sh 4_stream_exons.sh 5_evaluate_expression_Pvalue.sh "
