#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# once this script is executed with `source C_Project.config`
# output data dir is referenced as $OUTD

source ../bps.config

# automatically finding current directory name...
DIRNAM=`basename $PWD`
OUTD="$BPS_DATA/$DIRNAM/dat"
mkdir -p $OUTD

STEPS=" 1_make_BAM_Paths.sh "
