#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/H_NovoBreak/dat"
mkdir -p $OUTD
#ln -sf $OUTD

STEPS=" 1_make_synthetic_normal.sh 2_align_synthetic_reads.sh 3_make_ROI_BAM.sh 4_merge_ROI_BAM.sh 5_run_Novobreak.sh 6_make_Novobreak_BPC.sh "
