#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# once this script is executed with `source ./B_ExonGene.config`
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/C_Reference/dat"
mkdir -p $OUTD
#ln -sf $OUTD

# No steps here to run
STEPS=""
