#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# once this script is executed with `source ./B_ExonGene.config`
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/B_ExonGene/dat"
mkdir -p $OUTD
#ln -sf $OUTD

echo Core Directory \(BPS_CORE\): $BPS_CORE
echo Output Directory \(OUTD\): $OUTD

# Run no steps here
STEPS=""
