#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# once this script is executed with `source C_Project.config`
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/C_Project/dat"
mkdir -p $OUTD

# ln -sf $OUTD
STEPS=" 1_make_ROI_BED.sh 2_make_ROI_BAM.sh 3_merge_ROI_BAM.sh 4_make_BAM_paths.sh "
