#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/I_Contig/dat"
#ln -sf $OUTD
mkdir -p $OUTD

STEPS=" 1_make_CTX.sh 2_run_tigra.sh 3_realign.sh 4_rename_contigs.sh 5_make_pSBP.sh 6_make_SBP.sh 7_make_BPC.sh "
