#!/usr/bin/env bash

# Define BPS directories and 
# set up output data directory
# output data dir is referenced as $OUTD

source ../bps.config

OUTD="$BPS_DATA/J_PlotList/dat"
mkdir -p $OUTD

echo Output Directory \(\$OUTD\): $OUTD
STEPS=" 1_make_Discordant_clusters.sh 2_prioritize_Discordant.sh 3_makePlotList.sh "
